@model List<AcunMedyaFestavaLive.Entities.Artist>

@{
    Layout = "~/Views/Shared/UILayout.cshtml";
}

<section class="artists-section section-padding" id="section_3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h1 class="mb-4">Festival Sanatçılarımız</h1>
            </div>
            @foreach (var item in Model)
            {
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <div class="artists-thumb">
                        <div class="artists-image-wrap">
                            <img src="~/Templates/FestavaLive-1.0.0/images/artists/@item.ImageUrl"
                                 class="artists-image img-fluid">
                        </div>

                        <div class="artists-hover">
                            <p>
                                <strong>Name:</strong>
                                @item.NameSurname
                            </p>

                            <p>
                                <strong>Birthdate:</strong>
                                @item.Description
                            </p>

                            <p>
                                <strong>Music:</strong>
                                @item.Description
                            </p>

                            <hr>

                            <p class="mb-0">
                                <strong>Youtube Channel:</strong>
                                <a href="#">@item.Description</a>
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>